@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

   
/* NavBar Section */
    .header_text {
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        color: purple;
    }
/* NavBar Ends *
/* Jumbotron */
.jumbotron {
    background-image: url(../img/tpab.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
    font-weight: bold;
    background-position: 50%;
    opacity: 1;

}
.content-img {
    float: right;
}

p {
    font-weight: 1200;
    color: rgb(214, 19, 214);

}